.spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $spinner-overlay;
  z-index: 9999;

  .spinner-icon {
    @include animation(spin, 1s, linear, infinite);
    border-radius: 50%;
    border: 5px solid $spinner-icon-border;
    border-top: 5px solid $spinner-icon-border-top;
    width: 70px;
    height: 70px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
