.header-component {
  .dropdown-item {
    color: inherit !important;
  }
}

.block-logo {
  @include flex-width-col-xs(250px);
  min-height: 70px;
  transition: all $transition-hide-menu;
}

.main-header {
  .nav-item {
    &-title-page {
      font-size: $font-size-lg;
      font-weight: $font-weight-semibold;
    }
  }

  .avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    border: 1px solid $border-color;
    background-color: $border-color;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    margin-right: 7px;
  }
}

.nav-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  padding: 14px 30px 16px 0;
  cursor: pointer;
  display: block;
  margin-top: -15px;

  span,
  span::before,
  span::after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 25px;
    background: $primary;
    position: absolute;
    display: block;
    content: '';
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }

  span::before {
    top: -8px;
  }

  span::after {
    bottom: -8px;
  }

  &:hover {
    > span::before {
      top: 0;
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    > span::after {
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      bottom: 0;
    }
  }

  &.active {
    span {
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    span::before,
    span::after {
      top: 0;
      background: transparent;
    }
  }
}
