.reset-password-page {
  background: $bg-login !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .full-height {
    overflow: unset;
    justify-content: center;
  }

  .jumbotron {
    position: relative;
    width: 500px;
    margin-bottom: 0;
    padding: 30px 45px;
    background: $white;
    border-radius: 4px;
    margin: 3rem 1rem;

    h3 {
      font-size: 24px;
      margin-bottom: 30px;
      font-weight: 500;
    }
  }
}
