// ====================
// Fonts Size Rem
// Input: $type (Property css), $size (Value Px)
// Output: $type: convert to $rem
// ---
@function rem($size) {
  @return $size / $font-size-base-px + rem;
}

@mixin placeholder($color, $fontStyle: normal) {
  &::placeholder {
    /* Chrome/Opera/Safari */
    color: $color !important;
    font-style: $fontStyle;
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color !important;
    font-style: $fontStyle;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color !important;
    font-style: $fontStyle;
  }

  &::-ms-placeholder {
    /* IE 10+ */
    color: $color !important;
    font-style: $fontStyle;
  }

  &::-moz-placeholder {
    /* Firefox 18- */
    color: $color !important;
    font-style: $fontStyle;
  }
}

@mixin vertical-center($position: relative) {
  @include transform(translateY(-50%));
  position: $position;
  top: 50%;
}

@mixin ver-hor-center($position: absolute) {
  @include transform(translate(-50%, -50%));
  position: $position;
  top: 50%;
  left: 50%;
}

// animation
@mixin animation($name, $duration: 0.5s, $function: linear, $iteration: 1) {
  animation: $name $duration $function $iteration;
  -webkit-animation: $name $duration $function $iteration;
}

//vertical ellipsis
@mixin vertical-ellipsis($row: 2) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin appearance($value: none) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@mixin background-linear-gradient($color1, $color2, $to: left) {
  background: $color1;
  background: -moz-linear-gradient($to, $color1 0%, $color2 100%);
  background: -webkit-linear-gradient($to, $color1 0%, $color2 100%);
  background: linear-gradient(to right, $color1 0%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color1, endColorstr=$color2,GradientType=1 );
}

@mixin custom-scroll {
  &::-webkit-scrollbar-track {
    @include border-radius(15px);
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $color-scroll;
  }

  &::-webkit-scrollbar {
    @include border-radius(15px);
    width: 6px;
    background-color: $color-scroll;
  }

  &::-webkit-scrollbar-thumb {
    @include border-radius(15px);
    background-color: $bg-scroll;
  }
}

@mixin flex-width-col-xs($val) {
  flex: 0 0 $val;
  max-width: $val;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 $val;
  -ms-flex: 0 0 $val;
}

@mixin btn-theme(
  $bg: $bg-gradient-primary,
  $border: $border-primary-color,
  $color: $white,
  $bg-hover: $bg-primary-hover,
  $border-hover: $border-primary-hover,
  $color-hover: $white
) {
  background: $bg;
  border-color: $border;
  color: $color;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $bg-hover;
    opacity: 0;
    transition: 0.3s;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle,
  &.disabled,
  &:disabled {
    background: $bg;
    border-color: $border-hover;
    color: $color-hover;
  }

  &:hover,
  &:focus {
    background: $bg;
    border-color: $border-hover;
    color: $color-hover;

    &::before {
      opacity: 1;
    }
  }
}

@mixin fontawesome($font-family: fa) {
  display: inline-block;
  font-style: normal;
  line-height: 1;
  text-rendering: auto;
  font-variant: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @if $font-family == fab {
    font-family: 'Font Awesome 5 Brands';
  } @else if $font-family == far {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
  } @else if $font-family == fal {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
  } @else if $font-family == fa {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
  } @else if $font-family == fas {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
  }
}
